.movies-card-list {
  margin: 0;
  width: 100%;
}

.movies-card-list__content {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 70px 70px 103px 70px;
}

.movies-card-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
  row-gap: 32px;
  column-gap: 20px;
  justify-content: left;
}

.movies-card-list__more {
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;
  min-height: 89px;
}

.movies-card-list__more-button {
  margin-top: 80px;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  width: 100%;
  height: 36px;
  border-radius: 6px;
  background: #2F2F2F;
}

@media (max-width: 1279px) {
  .movies-card-list__items {
    grid-template-columns: repeat(auto-fit, minmax(270px, 0.333fr));
  }
}

@media (max-width: 1010px) {
  .movies-card-list__items {
    row-gap: 36px;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 0.5fr));
  }
}

@media (max-width: 800px) {
  .movies-card-list__content {
    padding: 70px 30px 102px 30px;
  }
}

@media (max-width: 650px) {
  .movies-card-list__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 20px;  
  }
}

@media (max-width: 500px) {
  .movies-card-list__content {
    padding: 40px 10px 97px 10px;
  }
}
