.movies-card__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.movies-card__item-image {
  width: max(270px, 100%);
  height: 151px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  display: block;
  color: rgba(34, 34, 34, 1);
}

.movies-card__item-info {
  padding: 14px 12px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 0 0 10px 10px;
}

.movies-card__item-title {
  margin: 0;
  color: #FFF;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-card__like-button {
  margin: 0;
  padding: 0;
  line-height: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
}

.movies-card__like-button_active {
  background-color: rgba(43, 224, 128, 1);
}

.movies-card__delete-button {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-image: url(../../images/d8.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.movies-card__like-div {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.movies-card__duration {
  margin: 10px 0 0 0;
  color: #8B8B8B;
  font-size: 11px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}