.profile {
  margin: 0;
  width: 100%;
}

.profile__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  padding: 74px 30px 70px 30px;
  box-sizing: border-box;
}

.profile__title {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__data {
  margin: 123px 0 0 0;
  width: 410px;
  list-style: none;
  padding: 0;
  display:flex;
  flex-direction: column;
}

.profile__item {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 17px;
  padding-bottom: 16px;
}

.profile__item:first-of-type {
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__item-content {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile__item-name {
  margin: 0;
  min-width: 8ch;
  color: #FFF;
  font-size: 11px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__item-data {
  width: 100%;
  margin: 0;
}

.profile__input {
  padding: 0;
  width: 100%;
  min-width: 30ch;
  border: none;
  background-color: transparent;
  color: #FFF;
  text-align: right;
  font-size: 11px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input_type_error {
  color: #EE3465;
}

.profile__save-button {
  background-color: transparent;
  border: none;
  margin: 220px 0 0 0;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.profile__save-button_type_inactive {
  color: #6B6B6B;
}

.profile__exit-button {
  background-color: transparent;
  border: none;
  margin: 16px 0 0 0;
  color: #EE3465;
  text-align: center;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.profile__input-error {
  margin: 5px 0 0 0;
  width: 100%;
  color: #EE3465;
  font-size: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__input-error_visible {
  display: flex;
}

@media (max-width: 1000px) {
  .profile__content {
    padding-top: 236px;
    padding-bottom: 269px;
  }  

  .profile__data {
    margin-top: 96px;
  }  

  .profile__save-button {
    margin-top: 210px
  }  
}

@media (max-width: 600px) {
  .profile__content {
    padding-top: 70px;
    padding-bottom: 40px;
  }  

  .profile__data {
    margin-top: 80px;
    max-width: 410px; 
    min-width: unset;
    width: 100%;
  }

  .profile__item-data {
    max-width: 30ch;
  }

  .profile__save-button {
    font-size: 12px;
  }

  .profile__exit-button {
    font-size: 12px;
  }
}



