.promo {
  margin: 0;
  width: 100%;
  background-color: #073042;
}

.promo__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 102px;
  max-width: 1280px;
  padding: 50px 70px 60px 70px;
  box-sizing: border-box;
  overflow: hidden;
}

.promo__title {
  margin: 0;
  max-width: 626px;
  color: #FFF;
  font-size: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
  align-self: self-start;
}

.promo__pic {
  min-width: 722px;
  max-height: 244px;
  align-self: self-end;
}

@media (max-width: 1000px) {
  .promo__content {
    padding: 300px 44px 70px 44px;
    gap: 140px;
  }

  .promo__title {
    max-width: 680px;
    text-align: center;
    align-self: center;
  }

  .promo__pic {
    align-self: center;
    min-width: 680px;
    min-height: 230px;
  }
}

@media (max-width: 600px) {
  .promo__content {
    padding: 183px 10px 40px 10px;
    gap: 60px;
  }

  .promo__title {
    min-width: 300px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}