.header {
  margin: 0;
  width: 100%;
  background-color: transparent;
  position: relative;
}

.header__burger-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position:fixed;
  left:0px;
  top:0px;
  z-index: 10;
}

.header__burger-menu {
  margin: 0;
  padding: 159px 0px 90px 0px;
  width: 100%;
  max-width: 520px;
  height: 100%;
  background-color: #202020;
  position: absolute;
  right: 0px;
  top: 0px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 0;
  box-sizing: border-box;
}

.header_background_promo {
  background-color: #073042;
}

.header__content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  padding: 18px 70px;
  box-sizing: border-box;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__nav {
  margin: 0 0 0 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header__nav_type_burger {
  justify-content: flex-end;
}

.header__film-link-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.header__film-link-items_type_burger {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 28px;
}

.header__film-link-item {
  margin: 0;
  padding-left: 0;
}

.header__film-link {
  margin: 0;
  line-height: 1;
  color: #FFF;
  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.header__film-link_type_active {
  font-weight: 500;
  cursor: default;
  pointer-events: none;
}

.header__account-button {
  margin: 0;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  position: relative;
  transform: translateX(8px);
}

.header__account-button::before {
  content:"";
  margin: 0;
  line-height: 1;
  position: absolute;
  right: -8px;
  bottom: -8px;
  margin: 0;
  width: 100px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  background-image: url(../../images/icon__COLOR_icon-main.svg);
  background-position: 12px 8px;
  background-repeat: no-repeat;
  background-size: 12px 14px;
  background-color: transparent;
}

.header__auth-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header__auth-item {
  margin: 0;
  padding: 0;
}

.header__signup {
  margin: 0;
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.header__signin-button {
  margin: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: none;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background: #3DDC84;
}

.header__burger-button {
  margin: 0;
  width: 44px;
  height: 44px;
  background-image: url(../../images/menu-icon__COLOR_icon-color.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.header__burger-button_type_close {
  background-image: url(../../images/cross.svg);
  object-fit: cover;
  position: absolute;
  right: 28px;
  top: 20px;
}

@media (max-width: 1000px) {
  .header__content {
    padding: 18px 30px;
  }

  .header__film-link_type_active {
    padding-bottom: 4px;
    border-bottom: solid 2px rgba(255, 255, 255, 1);
  }
}

@media (max-width: 600px) {
  .header__content {
    padding: 18px 14px;
  }

  .header__auth-items {
    gap: 14px;
  }

  .header__signup {
    font-size: 10px;
  }
  
  .header__signin-button {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }

  .header__burger-button_type_close {
    top: 18px;
    right: 14px;
  }
}



